<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="firstName" />
      <input type="text" v-model="lastName" />
      <div v-text="fullName"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      const vm = new Vue({
        el: '#app',
        data: { firstName: 'aaa', lastName: 'bbb', fullName: 'aaa bbb', c: { age: '111' } },
        // computed: {
        //   fullName: function () {
        //     return this.firstName + ' ' + this.lastName
        //   }
        // },
        watch: {
          firstName: function (val) {
            this.fullName = val + ' ' + this.lastName
          },
          lastName: function (val) {
            this.fullName = this.firstName + ' ' + val
          },
          // 该回调会在任何被侦听的对象的 property 改变时被调用，不论其被嵌套多深
          c: {
            handler: function (val, oldVal) {
              /* ... */
            },
            deep: true,
            // 该回调将会在侦听开始之后被立即调用
            immediate: true
          }
        }
      })
    </script>
  </body>
</html>
